In [1]:
from app.db.local_build import LocalDatabase
from pathlib import Path
import logging
logging.basicConfig(level=logging.CRITICAL)
logging.getLogger().setLevel(logging.CRITICAL)
logging.getLogger('sqlalchemy').setLevel(logging.CRITICAL)
TEST_DB_PATH = Path('test.db')
LocalDatabase().build(TEST_DB_PATH)

2025-05-13 23:47:07,241 INFO sqlalchemy.engine.Engine BEGIN (implicit)

BEGIN (implicit)

2025-05-13 23:47:07,248 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("abilities")

PRAGMA main.table_info("abilities")

2025-05-13 23:47:07,254 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,261 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("abilities")

PRAGMA temp.table_info("abilities")

2025-05-13 23:47:07,268 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,273 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("evolutions")

PRAGMA main.table_info("evolutions")

2025-05-13 23:47:07,277 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,287 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("evolutions")

PRAGMA temp.table_info("evolutions")

2025-05-13 23:47:07,297 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,313 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("games")

PRAGMA main.table_info("games")

2025-05-13 23:47:07,317 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,324 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("games")

PRAGMA temp.table_info("games")

2025-05-13 23:47:07,332 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,341 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("machines")

PRAGMA main.table_info("machines")

2025-05-13 23:47:07,348 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,360 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("machines")

PRAGMA temp.table_info("machines")

2025-05-13 23:47:07,365 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,371 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("moves")

PRAGMA main.table_info("moves")

2025-05-13 23:47:07,381 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,392 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("moves")

PRAGMA temp.table_info("moves")

2025-05-13 23:47:07,409 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,421 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokedex_numbers")

PRAGMA main.table_info("pokedex_numbers")

2025-05-13 23:47:07,450 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,475 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokedex_numbers")

PRAGMA temp.table_info("pokedex_numbers")

2025-05-13 23:47:07,485 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,531 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemons")

PRAGMA main.table_info("pokemons")

2025-05-13 23:47:07,675 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,696 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemons")

PRAGMA temp.table_info("pokemons")

2025-05-13 23:47:07,706 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,717 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemons_abilities")

PRAGMA main.table_info("pokemons_abilities")

2025-05-13 23:47:07,745 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,762 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemons_abilities")

PRAGMA temp.table_info("pokemons_abilities")

2025-05-13 23:47:07,781 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,794 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemon_details")

PRAGMA main.table_info("pokemon_details")

2025-05-13 23:47:07,802 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,811 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemon_details")

PRAGMA temp.table_info("pokemon_details")

2025-05-13 23:47:07,814 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,818 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemons_learnsets")

PRAGMA main.table_info("pokemons_learnsets")

2025-05-13 23:47:07,821 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,828 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemons_learnsets")

PRAGMA temp.table_info("pokemons_learnsets")

2025-05-13 23:47:07,830 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,840 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemon_sprites")

PRAGMA main.table_info("pokemon_sprites")

2025-05-13 23:47:07,846 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,849 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemon_sprites")

PRAGMA temp.table_info("pokemon_sprites")

2025-05-13 23:47:07,853 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,857 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemon_stats")

PRAGMA main.table_info("pokemon_stats")

2025-05-13 23:47:07,862 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,865 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemon_stats")

PRAGMA temp.table_info("pokemon_stats")

2025-05-13 23:47:07,868 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,872 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("types")

PRAGMA main.table_info("types")

2025-05-13 23:47:07,876 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,886 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("types")

PRAGMA temp.table_info("types")

2025-05-13 23:47:07,888 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,892 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("types_effectiveness")

PRAGMA main.table_info("types_effectiveness")

2025-05-13 23:47:07,897 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,907 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("types_effectiveness")

PRAGMA temp.table_info("types_effectiveness")

2025-05-13 23:47:07,917 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-13 23:47:07,924 INFO sqlalchemy.engine.Engine
CREATE TABLE abilities (
	id INTEGER NOT NULL,
	name VARCHAR(30) NOT NULL,
	name_fr VARCHAR(30),
	effect VARCHAR(1000),
	effect_fr VARCHAR(1000),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)

CREATE TABLE abilities (
	id INTEGER NOT NULL,
	name VARCHAR(30) NOT NULL,
	name_fr VARCHAR(30),
	effect VARCHAR(1000),
	effect_fr VARCHAR(1000),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)

2025-05-13 23:47:07,928 INFO sqlalchemy.engine.Engine [no key 0.00467s] ()

[no key 0.00467s] ()

2025-05-13 23:47:07,937 INFO sqlalchemy.engine.Engine
CREATE TABLE games (
	id INTEGER NOT NULL,
	name VARCHAR(50) NOT NULL,
	generation_number INTEGER NOT NULL,
	generation_name VARCHAR(50),
	version_group VARCHAR(50) NOT NULL,
	region_name VARCHAR(50) NOT NULL,
	PRIMARY KEY (id)
)

CREATE TABLE games (
	id INTEGER NOT NULL,
	name VARCHAR(50) NOT NULL,
	generation_number INTEGER NOT NULL,
	generation_name VARCHAR(50),
	version_group VARCHAR(50) NOT NULL,
	region_name VARCHAR(50) NOT NULL,
	PRIMARY KEY (id)
)

2025-05-13 23:47:07,942 INFO sqlalchemy.engine.Engine [no key 0.00516s] ()

[no key 0.00516s] ()

2025-05-13 23:47:07,952 INFO sqlalchemy.engine.Engine
CREATE TABLE moves (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	damage INTEGER,
	precision INTEGER,
	damage_class VARCHAR(50),
	effect VARCHAR(1000),
	effect_fr VARCHAR(1000),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)

CREATE TABLE moves (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	damage INTEGER,
	precision INTEGER,
	damage_class VARCHAR(50),
	effect VARCHAR(1000),
	effect_fr VARCHAR(1000),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)

2025-05-13 23:47:07,954 INFO sqlalchemy.engine.Engine [no key 0.00273s] ()

[no key 0.00273s] ()

2025-05-13 23:47:07,963 INFO sqlalchemy.engine.Engine
CREATE TABLE types (
	id INTEGER NOT NULL,
	name VARCHAR(20) NOT NULL,
	name_fr VARCHAR(20),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)

CREATE TABLE types (
	id INTEGER NOT NULL,
	name VARCHAR(20) NOT NULL,
	name_fr VARCHAR(20),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)

2025-05-13 23:47:07,965 INFO sqlalchemy.engine.Engine [no key 0.00259s] ()

[no key 0.00259s] ()

2025-05-13 23:47:07,976 INFO sqlalchemy.engine.Engine
CREATE TABLE machines (
	id INTEGER NOT NULL,
	machine_number VARCHAR(10) NOT NULL,
	move_id INTEGER NOT NULL,
	move_name VARCHAR(100),
	version_group VARCHAR(50) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(move_id) REFERENCES moves (id),
	FOREIGN KEY(version_group) REFERENCES games (version_group)
)

CREATE TABLE machines (
	id INTEGER NOT NULL,
	machine_number VARCHAR(10) NOT NULL,
	move_id INTEGER NOT NULL,
	move_name VARCHAR(100),
	version_group VARCHAR(50) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(move_id) REFERENCES moves (id),
	FOREIGN KEY(version_group) REFERENCES games (version_group)
)

2025-05-13 23:47:07,980 INFO sqlalchemy.engine.Engine [no key 0.00407s] ()

[no key 0.00407s] ()

2025-05-13 23:47:07,987 INFO sqlalchemy.engine.Engine CREATE INDEX ix_machines_version_group ON machines (version_group)

CREATE INDEX ix_machines_version_group ON machines (version_group)

2025-05-13 23:47:07,991 INFO sqlalchemy.engine.Engine [no key 0.00390s] ()

[no key 0.00390s] ()

2025-05-13 23:47:07,999 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemons (
	id INTEGER NOT NULL,
	national_pokedex_number INTEGER NOT NULL,
	name_en VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	type_1_id INTEGER NOT NULL,
	type_2_id INTEGER,
	sprite_url VARCHAR(255),
	cry_url VARCHAR(255),
	PRIMARY KEY (id),
	UNIQUE (name_en),
	UNIQUE (name_fr),
	FOREIGN KEY(type_1_id) REFERENCES types (id),
	FOREIGN KEY(type_2_id) REFERENCES types (id)
)

CREATE TABLE pokemons (
	id INTEGER NOT NULL,
	national_pokedex_number INTEGER NOT NULL,
	name_en VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	type_1_id INTEGER NOT NULL,
	type_2_id INTEGER,
	sprite_url VARCHAR(255),
	cry_url VARCHAR(255),
	PRIMARY KEY (id),
	UNIQUE (name_en),
	UNIQUE (name_fr),
	FOREIGN KEY(type_1_id) REFERENCES types (id),
	FOREIGN KEY(type_2_id) REFERENCES types (id)
)

2025-05-13 23:47:08,002 INFO sqlalchemy.engine.Engine [no key 0.00306s] ()

[no key 0.00306s] ()

2025-05-13 23:47:08,010 INFO sqlalchemy.engine.Engine
CREATE TABLE types_effectiveness (
	id INTEGER NOT NULL,
	attacking_type_id INTEGER NOT NULL,
	defending_type_id INTEGER NOT NULL,
	effectiveness FLOAT NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(attacking_type_id) REFERENCES types (id),
	FOREIGN KEY(defending_type_id) REFERENCES types (id)
)

CREATE TABLE types_effectiveness (
	id INTEGER NOT NULL,
	attacking_type_id INTEGER NOT NULL,
	defending_type_id INTEGER NOT NULL,
	effectiveness FLOAT NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(attacking_type_id) REFERENCES types (id),
	FOREIGN KEY(defending_type_id) REFERENCES types (id)
)

2025-05-13 23:47:08,013 INFO sqlalchemy.engine.Engine [no key 0.00347s] ()

[no key 0.00347s] ()

2025-05-13 23:47:08,020 INFO sqlalchemy.engine.Engine
CREATE TABLE evolutions (
	id INTEGER NOT NULL,
	evolution_chain_id INTEGER NOT NULL,
	pokemon_from_id INTEGER NOT NULL,
	pokemon_to_id INTEGER NOT NULL,
	"trigger" VARCHAR(50),
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_from_id) REFERENCES pokemons (id),
	FOREIGN KEY(pokemon_to_id) REFERENCES pokemons (id)
)

CREATE TABLE evolutions (
	id INTEGER NOT NULL,
	evolution_chain_id INTEGER NOT NULL,
	pokemon_from_id INTEGER NOT NULL,
	pokemon_to_id INTEGER NOT NULL,
	"trigger" VARCHAR(50),
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_from_id) REFERENCES pokemons (id),
	FOREIGN KEY(pokemon_to_id) REFERENCES pokemons (id)
)

2025-05-13 23:47:08,026 INFO sqlalchemy.engine.Engine [no key 0.00551s] ()

[no key 0.00551s] ()

2025-05-13 23:47:08,034 INFO sqlalchemy.engine.Engine
CREATE TABLE pokedex_numbers (
	pokemon_id INTEGER NOT NULL,
	national INTEGER,
	kanto INTEGER,
	original_johto INTEGER,
	updated_johto INTEGER,
	hoenn INTEGER,
	original_sinnoh INTEGER,
	extended_sinnoh INTEGER,
	unova_bw INTEGER,
	unova_b2w2 INTEGER,
	kalos_central INTEGER,
	kalos_coastal INTEGER,
	kalos_mountain INTEGER,
	alola INTEGER,
	melemele INTEGER,
	akala INTEGER,
	ulaula INTEGER,
	poni INTEGER,
	galar INTEGER,
	isle_of_armor INTEGER,
	crown_tundra INTEGER,
	hisui INTEGER,
	paldea INTEGER,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

CREATE TABLE pokedex_numbers (
	pokemon_id INTEGER NOT NULL,
	national INTEGER,
	kanto INTEGER,
	original_johto INTEGER,
	updated_johto INTEGER,
	hoenn INTEGER,
	original_sinnoh INTEGER,
	extended_sinnoh INTEGER,
	unova_bw INTEGER,
	unova_b2w2 INTEGER,
	kalos_central INTEGER,
	kalos_coastal INTEGER,
	kalos_mountain INTEGER,
	alola INTEGER,
	melemele INTEGER,
	akala INTEGER,
	ulaula INTEGER,
	poni INTEGER,
	galar INTEGER,
	isle_of_armor INTEGER,
	crown_tundra INTEGER,
	hisui INTEGER,
	paldea INTEGER,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

2025-05-13 23:47:08,038 INFO sqlalchemy.engine.Engine [no key 0.00376s] ()

[no key 0.00376s] ()

2025-05-13 23:47:08,048 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemons_abilities (
	pokemon_id INTEGER NOT NULL,
	ability_id INTEGER NOT NULL,
	ability_name VARCHAR(30) NOT NULL,
	is_hidden BOOLEAN NOT NULL,
	slot INTEGER NOT NULL,
	PRIMARY KEY (pokemon_id, slot),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id),
	FOREIGN KEY(ability_id) REFERENCES abilities (id),
	FOREIGN KEY(ability_name) REFERENCES abilities (name)
)

CREATE TABLE pokemons_abilities (
	pokemon_id INTEGER NOT NULL,
	ability_id INTEGER NOT NULL,
	ability_name VARCHAR(30) NOT NULL,
	is_hidden BOOLEAN NOT NULL,
	slot INTEGER NOT NULL,
	PRIMARY KEY (pokemon_id, slot),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id),
	FOREIGN KEY(ability_id) REFERENCES abilities (id),
	FOREIGN KEY(ability_name) REFERENCES abilities (name)
)

2025-05-13 23:47:08,052 INFO sqlalchemy.engine.Engine [no key 0.00380s] ()

[no key 0.00380s] ()

2025-05-13 23:47:08,064 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemon_details (
	pokemon_id INTEGER NOT NULL,
	species_id INTEGER NOT NULL,
	height_m INTEGER NOT NULL,
	weight_kg INTEGER NOT NULL,
	base_experience INTEGER,
	"order" INTEGER,
	is_default BOOLEAN NOT NULL,
	is_legendary BOOLEAN NOT NULL,
	is_mythical BOOLEAN NOT NULL,
	is_baby BOOLEAN NOT NULL,
	gender_rate INTEGER,
	capture_rate INTEGER,
	base_happiness INTEGER,
	hatch_counter INTEGER,
	has_gender_differences BOOLEAN,
	forms_switchable BOOLEAN,
	egg_group_1 VARCHAR(20),
	egg_group_2 VARCHAR(20),
	color VARCHAR(20),
	shape VARCHAR(20),
	evolves_from_species_id INTEGER,
	evolution_chain_id INTEGER,
	habitat VARCHAR(20),
	generation VARCHAR(20),
	growth_rate VARCHAR(20),
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

CREATE TABLE pokemon_details (
	pokemon_id INTEGER NOT NULL,
	species_id INTEGER NOT NULL,
	height_m INTEGER NOT NULL,
	weight_kg INTEGER NOT NULL,
	base_experience INTEGER,
	"order" INTEGER,
	is_default BOOLEAN NOT NULL,
	is_legendary BOOLEAN NOT NULL,
	is_mythical BOOLEAN NOT NULL,
	is_baby BOOLEAN NOT NULL,
	gender_rate INTEGER,
	capture_rate INTEGER,
	base_happiness INTEGER,
	hatch_counter INTEGER,
	has_gender_differences BOOLEAN,
	forms_switchable BOOLEAN,
	egg_group_1 VARCHAR(20),
	egg_group_2 VARCHAR(20),
	color VARCHAR(20),
	shape VARCHAR(20),
	evolves_from_species_id INTEGER,
	evolution_chain_id INTEGER,
	habitat VARCHAR(20),
	generation VARCHAR(20),
	growth_rate VARCHAR(20),
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

2025-05-13 23:47:08,069 INFO sqlalchemy.engine.Engine [no key 0.00514s] ()

[no key 0.00514s] ()

2025-05-13 23:47:08,080 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemons_learnsets (
	id INTEGER NOT NULL,
	pokemon_id INTEGER NOT NULL,
	move_id INTEGER NOT NULL,
	move_name VARCHAR(100) NOT NULL,
	method VARCHAR(100) NOT NULL,
	level INTEGER,
	version_group VARCHAR(100) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id),
	FOREIGN KEY(move_id) REFERENCES moves (id),
	FOREIGN KEY(version_group) REFERENCES games (version_group)
)

CREATE TABLE pokemons_learnsets (
	id INTEGER NOT NULL,
	pokemon_id INTEGER NOT NULL,
	move_id INTEGER NOT NULL,
	move_name VARCHAR(100) NOT NULL,
	method VARCHAR(100) NOT NULL,
	level INTEGER,
	version_group VARCHAR(100) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id),
	FOREIGN KEY(move_id) REFERENCES moves (id),
	FOREIGN KEY(version_group) REFERENCES games (version_group)
)

2025-05-13 23:47:08,084 INFO sqlalchemy.engine.Engine [no key 0.00391s] ()

[no key 0.00391s] ()

2025-05-13 23:47:08,096 INFO sqlalchemy.engine.Engine CREATE INDEX ix_pokemons_learnsets_version_group ON pokemons_learnsets (version_group)

CREATE INDEX ix_pokemons_learnsets_version_group ON pokemons_learnsets (version_group)

2025-05-13 23:47:08,102 INFO sqlalchemy.engine.Engine [no key 0.00635s] ()

[no key 0.00635s] ()

2025-05-13 23:47:08,113 INFO sqlalchemy.engine.Engine CREATE INDEX ix_pokemons_learnsets_pokemon_id ON pokemons_learnsets (pokemon_id)

CREATE INDEX ix_pokemons_learnsets_pokemon_id ON pokemons_learnsets (pokemon_id)

2025-05-13 23:47:08,117 INFO sqlalchemy.engine.Engine [no key 0.00386s] ()

[no key 0.00386s] ()

2025-05-13 23:47:08,129 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemon_sprites (
	pokemon_id INTEGER NOT NULL,
	front_default VARCHAR,
	back_default VARCHAR,
	front_shiny VARCHAR,
	back_shiny VARCHAR,
	official_artwork VARCHAR,
	official_artwork_shiny VARCHAR,
	dream_world VARCHAR,
	home_default VARCHAR,
	home_shiny VARCHAR,
	pokemon_go VARCHAR,
	pokemon_go_shiny VARCHAR,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

CREATE TABLE pokemon_sprites (
	pokemon_id INTEGER NOT NULL,
	front_default VARCHAR,
	back_default VARCHAR,
	front_shiny VARCHAR,
	back_shiny VARCHAR,
	official_artwork VARCHAR,
	official_artwork_shiny VARCHAR,
	dream_world VARCHAR,
	home_default VARCHAR,
	home_shiny VARCHAR,
	pokemon_go VARCHAR,
	pokemon_go_shiny VARCHAR,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

2025-05-13 23:47:08,132 INFO sqlalchemy.engine.Engine [no key 0.00322s] ()

[no key 0.00322s] ()

2025-05-13 23:47:08,141 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemon_stats (
	pokemon_id INTEGER NOT NULL,
	hp INTEGER NOT NULL,
	attack INTEGER NOT NULL,
	defense INTEGER NOT NULL,
	special_attack INTEGER NOT NULL,
	special_defense INTEGER NOT NULL,
	speed INTEGER NOT NULL,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

CREATE TABLE pokemon_stats (
	pokemon_id INTEGER NOT NULL,
	hp INTEGER NOT NULL,
	attack INTEGER NOT NULL,
	defense INTEGER NOT NULL,
	special_attack INTEGER NOT NULL,
	special_defense INTEGER NOT NULL,
	speed INTEGER NOT NULL,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

2025-05-13 23:47:08,146 INFO sqlalchemy.engine.Engine [no key 0.00494s] ()

[no key 0.00494s] ()

2025-05-13 23:47:08,154 INFO sqlalchemy.engine.Engine COMMIT

COMMIT

<span style="color: red">⚠️ Danger zone ⚠️</span>

`DROP TABLES`

In [12]:
from sqlalchemy import create_engine, text
from pathlib import Path

DB_PATH = Path("app/db/test.db")
if DB_PATH.exists():
    engine = create_engine(f"sqlite:///{DB_PATH}", connect_args={"check_same_thread": False})

    with engine.connect() as conn:
        conn.execute(text("PRAGMA foreign_keys=OFF;"))
        conn.commit()

        # Récupère toutes les tables
        result = conn.execute(text(
            "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';"
        ))
        tables = [row[0] for row in result]

        # Vide chaque table
        for table in tables:
            conn.execute(text(f"DELETE FROM {table};"))
        conn.commit()

    engine.dispose()

`DELETE DATABASE`

In [3]:
import os
from pathlib import Path
if Path('app/db/PKMN.db').exists():
    os.remove(Path('app/db/test.db'))