In [1]:
from app.db.local_build import LocalDatabase
from pathlib import Path
import logging
logging.basicConfig(level=logging.CRITICAL)
logging.getLogger().setLevel(logging.CRITICAL)
logging.getLogger('sqlalchemy').setLevel(logging.CRITICAL)
TEST_DB_PATH = Path('test.db')
LocalDatabase().build(TEST_DB_PATH)

2025-05-11 17:27:56,321 INFO sqlalchemy.engine.Engine BEGIN (implicit)

BEGIN (implicit)

2025-05-11 17:27:56,333 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("abilities")

PRAGMA main.table_info("abilities")

2025-05-11 17:27:56,480 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,485 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("abilities")

PRAGMA temp.table_info("abilities")

2025-05-11 17:27:56,488 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,494 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("evolutions")

PRAGMA main.table_info("evolutions")

2025-05-11 17:27:56,497 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,506 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("evolutions")

PRAGMA temp.table_info("evolutions")

2025-05-11 17:27:56,510 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,524 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("games")

PRAGMA main.table_info("games")

2025-05-11 17:27:56,538 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,557 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("games")

PRAGMA temp.table_info("games")

2025-05-11 17:27:56,565 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,580 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("machines")

PRAGMA main.table_info("machines")

2025-05-11 17:27:56,584 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,652 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("machines")

PRAGMA temp.table_info("machines")

2025-05-11 17:27:56,662 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,674 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("moves")

PRAGMA main.table_info("moves")

2025-05-11 17:27:56,680 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,690 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("moves")

PRAGMA temp.table_info("moves")

2025-05-11 17:27:56,696 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,701 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokedex_numbers")

PRAGMA main.table_info("pokedex_numbers")

2025-05-11 17:27:56,713 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,723 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokedex_numbers")

PRAGMA temp.table_info("pokedex_numbers")

2025-05-11 17:27:56,829 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,865 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemons")

PRAGMA main.table_info("pokemons")

2025-05-11 17:27:56,876 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,883 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemons")

PRAGMA temp.table_info("pokemons")

2025-05-11 17:27:56,889 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,894 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemons_abilities")

PRAGMA main.table_info("pokemons_abilities")

2025-05-11 17:27:56,903 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,909 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemons_abilities")

PRAGMA temp.table_info("pokemons_abilities")

2025-05-11 17:27:56,915 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,933 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemon_details")

PRAGMA main.table_info("pokemon_details")

2025-05-11 17:27:56,939 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,950 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemon_details")

PRAGMA temp.table_info("pokemon_details")

2025-05-11 17:27:56,959 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:56,966 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemons_learnsets")

PRAGMA main.table_info("pokemons_learnsets")

2025-05-11 17:27:56,974 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:57,010 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemons_learnsets")

PRAGMA temp.table_info("pokemons_learnsets")

2025-05-11 17:27:57,029 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:57,041 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemon_sprites")

PRAGMA main.table_info("pokemon_sprites")

2025-05-11 17:27:57,053 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:57,068 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemon_sprites")

PRAGMA temp.table_info("pokemon_sprites")

2025-05-11 17:27:57,072 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:57,091 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemon_stats")

PRAGMA main.table_info("pokemon_stats")

2025-05-11 17:27:57,129 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:57,194 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemon_stats")

PRAGMA temp.table_info("pokemon_stats")

2025-05-11 17:27:57,203 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:57,212 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("types")

PRAGMA main.table_info("types")

2025-05-11 17:27:57,221 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:57,341 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("types")

PRAGMA temp.table_info("types")

2025-05-11 17:27:57,348 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:57,360 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("types_effectiveness")

PRAGMA main.table_info("types_effectiveness")

2025-05-11 17:27:57,368 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:57,375 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("types_effectiveness")

PRAGMA temp.table_info("types_effectiveness")

2025-05-11 17:27:57,384 INFO sqlalchemy.engine.Engine [raw sql] ()

[raw sql] ()

2025-05-11 17:27:57,392 INFO sqlalchemy.engine.Engine
CREATE TABLE abilities (
	id INTEGER NOT NULL,
	name VARCHAR(30) NOT NULL,
	name_fr VARCHAR(30),
	effect VARCHAR(1000),
	effect_fr VARCHAR(1000),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)

CREATE TABLE abilities (
	id INTEGER NOT NULL,
	name VARCHAR(30) NOT NULL,
	name_fr VARCHAR(30),
	effect VARCHAR(1000),
	effect_fr VARCHAR(1000),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)

2025-05-11 17:27:57,397 INFO sqlalchemy.engine.Engine [no key 0.00454s] ()

[no key 0.00454s] ()

2025-05-11 17:27:57,411 INFO sqlalchemy.engine.Engine
CREATE TABLE games (
	id INTEGER NOT NULL,
	name VARCHAR(50) NOT NULL,
	generation_number INTEGER NOT NULL,
	generation_name VARCHAR(50) NOT NULL,
	version_group VARCHAR(50) NOT NULL,
	region_name VARCHAR(50) NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (version_group)
)

CREATE TABLE games (
	id INTEGER NOT NULL,
	name VARCHAR(50) NOT NULL,
	generation_number INTEGER NOT NULL,
	generation_name VARCHAR(50) NOT NULL,
	version_group VARCHAR(50) NOT NULL,
	region_name VARCHAR(50) NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (version_group)
)

2025-05-11 17:27:57,417 INFO sqlalchemy.engine.Engine [no key 0.00556s] ()

[no key 0.00556s] ()

2025-05-11 17:27:57,439 INFO sqlalchemy.engine.Engine
CREATE TABLE moves (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	damage INTEGER,
	precision INTEGER,
	effect VARCHAR(1000),
	effect_fr VARCHAR(1000),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)

CREATE TABLE moves (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	damage INTEGER,
	precision INTEGER,
	effect VARCHAR(1000),
	effect_fr VARCHAR(1000),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)

2025-05-11 17:27:57,446 INFO sqlalchemy.engine.Engine [no key 0.00682s] ()

[no key 0.00682s] ()

2025-05-11 17:27:57,459 INFO sqlalchemy.engine.Engine
CREATE TABLE types (
	id INTEGER NOT NULL,
	name VARCHAR(20) NOT NULL,
	name_fr VARCHAR(20),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)

CREATE TABLE types (
	id INTEGER NOT NULL,
	name VARCHAR(20) NOT NULL,
	name_fr VARCHAR(20),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)

2025-05-11 17:27:57,465 INFO sqlalchemy.engine.Engine [no key 0.00680s] ()

[no key 0.00680s] ()

2025-05-11 17:27:57,478 INFO sqlalchemy.engine.Engine
CREATE TABLE machines (
	id INTEGER NOT NULL,
	machine_number VARCHAR(10) NOT NULL,
	move_id INTEGER NOT NULL,
	move_name VARCHAR(100),
	version_group VARCHAR(50) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(move_id) REFERENCES moves (id),
	FOREIGN KEY(version_group) REFERENCES games (version_group)
)

CREATE TABLE machines (
	id INTEGER NOT NULL,
	machine_number VARCHAR(10) NOT NULL,
	move_id INTEGER NOT NULL,
	move_name VARCHAR(100),
	version_group VARCHAR(50) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(move_id) REFERENCES moves (id),
	FOREIGN KEY(version_group) REFERENCES games (version_group)
)

2025-05-11 17:27:57,492 INFO sqlalchemy.engine.Engine [no key 0.01516s] ()

[no key 0.01516s] ()

2025-05-11 17:27:57,505 INFO sqlalchemy.engine.Engine CREATE INDEX ix_machines_version_group ON machines (version_group)

CREATE INDEX ix_machines_version_group ON machines (version_group)

2025-05-11 17:27:57,511 INFO sqlalchemy.engine.Engine [no key 0.00558s] ()

[no key 0.00558s] ()

2025-05-11 17:27:57,519 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemons (
	id INTEGER NOT NULL,
	national_pokedex_number INTEGER NOT NULL,
	name_en VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	type_1_id INTEGER NOT NULL,
	type_2_id INTEGER,
	sprite_url VARCHAR(255),
	cry_url VARCHAR(255),
	PRIMARY KEY (id),
	UNIQUE (name_en),
	UNIQUE (name_fr),
	FOREIGN KEY(type_1_id) REFERENCES types (id),
	FOREIGN KEY(type_2_id) REFERENCES types (id)
)

CREATE TABLE pokemons (
	id INTEGER NOT NULL,
	national_pokedex_number INTEGER NOT NULL,
	name_en VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	type_1_id INTEGER NOT NULL,
	type_2_id INTEGER,
	sprite_url VARCHAR(255),
	cry_url VARCHAR(255),
	PRIMARY KEY (id),
	UNIQUE (name_en),
	UNIQUE (name_fr),
	FOREIGN KEY(type_1_id) REFERENCES types (id),
	FOREIGN KEY(type_2_id) REFERENCES types (id)
)

2025-05-11 17:27:57,527 INFO sqlalchemy.engine.Engine [no key 0.00748s] ()

[no key 0.00748s] ()

2025-05-11 17:27:57,538 INFO sqlalchemy.engine.Engine
CREATE TABLE types_effectiveness (
	id INTEGER NOT NULL,
	attacking_type_id INTEGER NOT NULL,
	defending_type_id INTEGER NOT NULL,
	effectiveness FLOAT NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(attacking_type_id) REFERENCES types (id),
	FOREIGN KEY(defending_type_id) REFERENCES types (id)
)

CREATE TABLE types_effectiveness (
	id INTEGER NOT NULL,
	attacking_type_id INTEGER NOT NULL,
	defending_type_id INTEGER NOT NULL,
	effectiveness FLOAT NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(attacking_type_id) REFERENCES types (id),
	FOREIGN KEY(defending_type_id) REFERENCES types (id)
)

2025-05-11 17:27:57,546 INFO sqlalchemy.engine.Engine [no key 0.00771s] ()

[no key 0.00771s] ()

2025-05-11 17:27:57,556 INFO sqlalchemy.engine.Engine
CREATE TABLE evolutions (
	id INTEGER NOT NULL,
	evolution_chain_id INTEGER NOT NULL,
	pokemon_from_id INTEGER NOT NULL,
	pokemon_to_id INTEGER NOT NULL,
	"trigger" VARCHAR(50),
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_from_id) REFERENCES pokemons (id),
	FOREIGN KEY(pokemon_to_id) REFERENCES pokemons (id)
)

CREATE TABLE evolutions (
	id INTEGER NOT NULL,
	evolution_chain_id INTEGER NOT NULL,
	pokemon_from_id INTEGER NOT NULL,
	pokemon_to_id INTEGER NOT NULL,
	"trigger" VARCHAR(50),
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_from_id) REFERENCES pokemons (id),
	FOREIGN KEY(pokemon_to_id) REFERENCES pokemons (id)
)

2025-05-11 17:27:57,562 INFO sqlalchemy.engine.Engine [no key 0.00544s] ()

[no key 0.00544s] ()

2025-05-11 17:27:57,572 INFO sqlalchemy.engine.Engine
CREATE TABLE pokedex_numbers (
	pokemon_id INTEGER NOT NULL,
	national INTEGER,
	kanto INTEGER,
	original_johto INTEGER,
	updated_johto INTEGER,
	hoenn INTEGER,
	original_sinnoh INTEGER,
	extended_sinnoh INTEGER,
	unova_bw INTEGER,
	unova_b2w2 INTEGER,
	kalos_central INTEGER,
	kalos_coastal INTEGER,
	kalos_mountain INTEGER,
	alola INTEGER,
	melemele INTEGER,
	akala INTEGER,
	ulaula INTEGER,
	poni INTEGER,
	galar INTEGER,
	isle_of_armor INTEGER,
	crown_tundra INTEGER,
	hisui INTEGER,
	paldea INTEGER,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

CREATE TABLE pokedex_numbers (
	pokemon_id INTEGER NOT NULL,
	national INTEGER,
	kanto INTEGER,
	original_johto INTEGER,
	updated_johto INTEGER,
	hoenn INTEGER,
	original_sinnoh INTEGER,
	extended_sinnoh INTEGER,
	unova_bw INTEGER,
	unova_b2w2 INTEGER,
	kalos_central INTEGER,
	kalos_coastal INTEGER,
	kalos_mountain INTEGER,
	alola INTEGER,
	melemele INTEGER,
	akala INTEGER,
	ulaula INTEGER,
	poni INTEGER,
	galar INTEGER,
	isle_of_armor INTEGER,
	crown_tundra INTEGER,
	hisui INTEGER,
	paldea INTEGER,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

2025-05-11 17:27:57,579 INFO sqlalchemy.engine.Engine [no key 0.00743s] ()

[no key 0.00743s] ()

2025-05-11 17:27:57,591 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemons_abilities (
	pokemon_id INTEGER NOT NULL,
	ability_id INTEGER NOT NULL,
	ability_name VARCHAR(30) NOT NULL,
	is_hidden BOOLEAN NOT NULL,
	slot INTEGER NOT NULL,
	PRIMARY KEY (pokemon_id, slot),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id),
	FOREIGN KEY(ability_id) REFERENCES abilities (id),
	FOREIGN KEY(ability_name) REFERENCES abilities (name)
)

CREATE TABLE pokemons_abilities (
	pokemon_id INTEGER NOT NULL,
	ability_id INTEGER NOT NULL,
	ability_name VARCHAR(30) NOT NULL,
	is_hidden BOOLEAN NOT NULL,
	slot INTEGER NOT NULL,
	PRIMARY KEY (pokemon_id, slot),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id),
	FOREIGN KEY(ability_id) REFERENCES abilities (id),
	FOREIGN KEY(ability_name) REFERENCES abilities (name)
)

2025-05-11 17:27:57,596 INFO sqlalchemy.engine.Engine [no key 0.00537s] ()

[no key 0.00537s] ()

2025-05-11 17:27:57,604 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemon_details (
	pokemon_id INTEGER NOT NULL,
	species_id INTEGER NOT NULL,
	height_m INTEGER NOT NULL,
	weight_kg INTEGER NOT NULL,
	base_experience INTEGER,
	"order" INTEGER,
	is_default BOOLEAN NOT NULL,
	is_legendary BOOLEAN NOT NULL,
	is_mythical BOOLEAN NOT NULL,
	is_baby BOOLEAN NOT NULL,
	gender_rate INTEGER,
	capture_rate INTEGER,
	base_happiness INTEGER,
	hatch_counter INTEGER,
	has_gender_differences BOOLEAN,
	forms_switchable BOOLEAN,
	egg_group_1 VARCHAR(20),
	egg_group_2 VARCHAR(20),
	color VARCHAR(20),
	shape VARCHAR(20),
	evolves_from_species_id INTEGER,
	evolution_chain_id INTEGER,
	habitat VARCHAR(20),
	generation VARCHAR(20),
	growth_rate VARCHAR(20),
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

CREATE TABLE pokemon_details (
	pokemon_id INTEGER NOT NULL,
	species_id INTEGER NOT NULL,
	height_m INTEGER NOT NULL,
	weight_kg INTEGER NOT NULL,
	base_experience INTEGER,
	"order" INTEGER,
	is_default BOOLEAN NOT NULL,
	is_legendary BOOLEAN NOT NULL,
	is_mythical BOOLEAN NOT NULL,
	is_baby BOOLEAN NOT NULL,
	gender_rate INTEGER,
	capture_rate INTEGER,
	base_happiness INTEGER,
	hatch_counter INTEGER,
	has_gender_differences BOOLEAN,
	forms_switchable BOOLEAN,
	egg_group_1 VARCHAR(20),
	egg_group_2 VARCHAR(20),
	color VARCHAR(20),
	shape VARCHAR(20),
	evolves_from_species_id INTEGER,
	evolution_chain_id INTEGER,
	habitat VARCHAR(20),
	generation VARCHAR(20),
	growth_rate VARCHAR(20),
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

2025-05-11 17:27:57,634 INFO sqlalchemy.engine.Engine [no key 0.02949s] ()

[no key 0.02949s] ()

2025-05-11 17:27:57,658 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemons_learnsets (
	id INTEGER NOT NULL,
	pokemon_id INTEGER NOT NULL,
	move_id INTEGER NOT NULL,
	move_name VARCHAR(100) NOT NULL,
	method VARCHAR(100) NOT NULL,
	level INTEGER,
	version_group VARCHAR(100) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id),
	FOREIGN KEY(move_id) REFERENCES moves (id),
	FOREIGN KEY(version_group) REFERENCES games (version_group)
)

CREATE TABLE pokemons_learnsets (
	id INTEGER NOT NULL,
	pokemon_id INTEGER NOT NULL,
	move_id INTEGER NOT NULL,
	move_name VARCHAR(100) NOT NULL,
	method VARCHAR(100) NOT NULL,
	level INTEGER,
	version_group VARCHAR(100) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id),
	FOREIGN KEY(move_id) REFERENCES moves (id),
	FOREIGN KEY(version_group) REFERENCES games (version_group)
)

2025-05-11 17:27:57,665 INFO sqlalchemy.engine.Engine [no key 0.00723s] ()

[no key 0.00723s] ()

2025-05-11 17:27:57,672 INFO sqlalchemy.engine.Engine CREATE INDEX ix_pokemons_learnsets_version_group ON pokemons_learnsets (version_group)

CREATE INDEX ix_pokemons_learnsets_version_group ON pokemons_learnsets (version_group)

2025-05-11 17:27:57,674 INFO sqlalchemy.engine.Engine [no key 0.00176s] ()

[no key 0.00176s] ()

2025-05-11 17:27:57,684 INFO sqlalchemy.engine.Engine CREATE INDEX ix_pokemons_learnsets_pokemon_id ON pokemons_learnsets (pokemon_id)

CREATE INDEX ix_pokemons_learnsets_pokemon_id ON pokemons_learnsets (pokemon_id)

2025-05-11 17:27:57,690 INFO sqlalchemy.engine.Engine [no key 0.00518s] ()

[no key 0.00518s] ()

2025-05-11 17:27:57,698 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemon_sprites (
	pokemon_id INTEGER NOT NULL,
	front_default VARCHAR,
	back_default VARCHAR,
	front_shiny VARCHAR,
	back_shiny VARCHAR,
	official_artwork VARCHAR,
	official_artwork_shiny VARCHAR,
	dream_world VARCHAR,
	home_default VARCHAR,
	home_shiny VARCHAR,
	pokemon_go VARCHAR,
	pokemon_go_shiny VARCHAR,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

CREATE TABLE pokemon_sprites (
	pokemon_id INTEGER NOT NULL,
	front_default VARCHAR,
	back_default VARCHAR,
	front_shiny VARCHAR,
	back_shiny VARCHAR,
	official_artwork VARCHAR,
	official_artwork_shiny VARCHAR,
	dream_world VARCHAR,
	home_default VARCHAR,
	home_shiny VARCHAR,
	pokemon_go VARCHAR,
	pokemon_go_shiny VARCHAR,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

2025-05-11 17:27:57,701 INFO sqlalchemy.engine.Engine [no key 0.00339s] ()

[no key 0.00339s] ()

2025-05-11 17:27:57,711 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemon_stats (
	pokemon_id INTEGER NOT NULL,
	hp INTEGER NOT NULL,
	attack INTEGER NOT NULL,
	defense INTEGER NOT NULL,
	special_attack INTEGER NOT NULL,
	special_defense INTEGER NOT NULL,
	speed INTEGER NOT NULL,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

CREATE TABLE pokemon_stats (
	pokemon_id INTEGER NOT NULL,
	hp INTEGER NOT NULL,
	attack INTEGER NOT NULL,
	defense INTEGER NOT NULL,
	special_attack INTEGER NOT NULL,
	special_defense INTEGER NOT NULL,
	speed INTEGER NOT NULL,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)

2025-05-11 17:27:57,716 INFO sqlalchemy.engine.Engine [no key 0.00500s] ()

[no key 0.00500s] ()

2025-05-11 17:27:57,722 INFO sqlalchemy.engine.Engine COMMIT

COMMIT

In [2]:
import requests
import json

# URL de l'API pour récupérer le premier type (Fire)
url = "https://pokeapi.co/api/v2/type/1"

# Faire la requête HTTP
response = requests.get(url)

# Vérifier que la requête a réussi
if response.status_code == 200:
    # Récupérer les données au format JSON
    type_data = response.json()

In [7]:
from sqlmodel import Session, create_engine
from pathlib import Path
from app.models.tables.type import Type

TEST_DB_PATH = Path('app/db/test.db')

# Créer le moteur SQLAlchemy
engine = create_engine(f"sqlite:///{TEST_DB_PATH}")

# Créer et utiliser une session avec un context manager
with Session(engine) as session:
    normal_type = Type(
        id=type_data['id'],
        name=type_data['name'],
        name_fr='Normal',
        generation=1
    )
    
    session.add(normal_type)
    
    
    # Confirmer les changements dans la base de données
    session.commit()

In [ ]:
from app.models.tables.type import Type

normal_type = Type(
    id=type_data['id'],
    name=type_data['name'],
    name_fr=type_data['names']['language']['fr'],
    generation=1
)

In [ ]:
from app.models.tables.type import Type

normal_type = Type(
    id=type_data['id'],
    name=type_data['name'],
    name_fr=type_data['names']['language']['fr'],
    generation=1
)

In [2]:
from app.api.ingestion.client import PokeApiClient
from app.models.enums.pokeapi import EndPoint
api = PokeApiClient()

api.call_batch(EndPoint.TYPE, offset=10, limit=10)

[{'name': 'water', 'url': 'https://pokeapi.co/api/v2/type/11/'},
 {'name': 'grass', 'url': 'https://pokeapi.co/api/v2/type/12/'},
 {'name': 'electric', 'url': 'https://pokeapi.co/api/v2/type/13/'},
 {'name': 'psychic', 'url': 'https://pokeapi.co/api/v2/type/14/'},
 {'name': 'ice', 'url': 'https://pokeapi.co/api/v2/type/15/'},
 {'name': 'dragon', 'url': 'https://pokeapi.co/api/v2/type/16/'},
 {'name': 'dark', 'url': 'https://pokeapi.co/api/v2/type/17/'},
 {'name': 'fairy', 'url': 'https://pokeapi.co/api/v2/type/18/'},
 {'name': 'stellar', 'url': 'https://pokeapi.co/api/v2/type/19/'},
 {'name': 'unknown', 'url': 'https://pokeapi.co/api/v2/type/10001/'}]

In [ ]:
from app.api.ingestion.client import PokeApiClient
from app.models.enums.pokeapi import EndPoint
api = PokeApiClient()
type_count = api.get_endpoint_count(EndPoint.TYPE)

processed = 0
batch_size = 10
while processed <= type_count:
    PokeApiClient().

21

In [ ]:
from app.models.tables.type import Type

normal_type = Type(
    id=type_data['id'],
    name=type_data['name'],
    name_fr=type_data['names']['language']['fr'],
    generation=1
)

<span style="color: red">⚠️ Danger zone ⚠️</span>

`DROP TABLES`

In [5]:
from sqlalchemy import create_engine, text
from pathlib import Path

DB_PATH = Path("app/db/test.db")
if DB_PATH.exists():
    engine = create_engine(f"sqlite:///{DB_PATH}", connect_args={"check_same_thread": False})

    with engine.connect() as conn:
        conn.execute(text("PRAGMA foreign_keys=OFF;"))
        conn.commit()

        # Récupère toutes les tables
        result = conn.execute(text(
            "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';"
        ))
        tables = [row[0] for row in result]

        # Vide chaque table
        for table in tables:
            conn.execute(text(f"DELETE FROM {table};"))
        conn.commit()

    engine.dispose()

`DELETE DATABASE`

In [4]:
import os
from pathlib import Path
if Path('app/db/PKMN.db').exists():
    os.remove(Path('app/db/test.db'))