`Build empty database`

In [2]:
!uv run app/db/local_build.py

Construction de la base de donn√©es PKMN.db...
2025-05-13 23:46:17,824 INFO sqlalchemy.engine.Engine BEGIN (implicit)
BEGIN (implicit)
2025-05-13 23:46:17,825 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("abilities")
PRAGMA main.table_info("abilities")
2025-05-13 23:46:17,826 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,828 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("abilities")
PRAGMA temp.table_info("abilities")
2025-05-13 23:46:17,829 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,829 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("evolutions")
PRAGMA main.table_info("evolutions")
2025-05-13 23:46:17,829 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,830 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("evolutions")
PRAGMA temp.table_info("evolutions")
2025-05-13 23:46:17,830 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,831 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("games")
PRAGMA main.table_info("games")
2025-05-13 23:46:17,831 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,831 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("games")
PRAGMA temp.table_info("games")
2025-05-13 23:46:17,831 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,832 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("machines")
PRAGMA main.table_info("machines")
2025-05-13 23:46:17,832 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,832 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("machines")
PRAGMA temp.table_info("machines")
2025-05-13 23:46:17,833 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,833 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("moves")
PRAGMA main.table_info("moves")
2025-05-13 23:46:17,833 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,834 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("moves")
PRAGMA temp.table_info("moves")
2025-05-13 23:46:17,834 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,834 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokedex_numbers")
PRAGMA main.table_info("pokedex_numbers")
2025-05-13 23:46:17,835 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,835 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokedex_numbers")
PRAGMA temp.table_info("pokedex_numbers")
2025-05-13 23:46:17,835 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,836 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemons")
PRAGMA main.table_info("pokemons")
2025-05-13 23:46:17,836 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,836 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemons")
PRAGMA temp.table_info("pokemons")
2025-05-13 23:46:17,836 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,837 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemons_abilities")
PRAGMA main.table_info("pokemons_abilities")
2025-05-13 23:46:17,837 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,837 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemons_abilities")
PRAGMA temp.table_info("pokemons_abilities")
2025-05-13 23:46:17,837 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,837 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemon_details")
PRAGMA main.table_info("pokemon_details")
2025-05-13 23:46:17,838 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,838 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemon_details")
PRAGMA temp.table_info("pokemon_details")
2025-05-13 23:46:17,839 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,839 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemons_learnsets")
PRAGMA main.table_info("pokemons_learnsets")
2025-05-13 23:46:17,839 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,839 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemons_learnsets")
PRAGMA temp.table_info("pokemons_learnsets")
2025-05-13 23:46:17,839 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,840 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemon_sprites")
PRAGMA main.table_info("pokemon_sprites")
2025-05-13 23:46:17,840 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,840 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemon_sprites")
PRAGMA temp.table_info("pokemon_sprites")
2025-05-13 23:46:17,840 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,841 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemon_stats")
PRAGMA main.table_info("pokemon_stats")
2025-05-13 23:46:17,841 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,842 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemon_stats")
PRAGMA temp.table_info("pokemon_stats")
2025-05-13 23:46:17,842 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,842 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("types")
PRAGMA main.table_info("types")
2025-05-13 23:46:17,842 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,843 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("types")
PRAGMA temp.table_info("types")
2025-05-13 23:46:17,843 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,844 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("types_effectiveness")
PRAGMA main.table_info("types_effectiveness")
2025-05-13 23:46:17,844 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,845 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("types_effectiveness")
PRAGMA temp.table_info("types_effectiveness")
2025-05-13 23:46:17,845 INFO sqlalchemy.engine.Engine [raw sql] ()
[raw sql] ()
2025-05-13 23:46:17,846 INFO sqlalchemy.engine.Engine
CREATE TABLE abilities (
	id INTEGER NOT NULL,
	name VARCHAR(30) NOT NULL,
	name_fr VARCHAR(30),
	effect VARCHAR(1000),
	effect_fr VARCHAR(1000),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)



CREATE TABLE abilities (
	id INTEGER NOT NULL,
	name VARCHAR(30) NOT NULL,
	name_fr VARCHAR(30),
	effect VARCHAR(1000),
	effect_fr VARCHAR(1000),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)


2025-05-13 23:46:17,847 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
[no key 0.00044s] ()
2025-05-13 23:46:17,851 INFO sqlalchemy.engine.Engine
CREATE TABLE games (
	id INTEGER NOT NULL,
	name VARCHAR(50) NOT NULL,
	generation_number INTEGER NOT NULL,
	generation_name VARCHAR(50),
	version_group VARCHAR(50) NOT NULL,
	region_name VARCHAR(50) NOT NULL,
	PRIMARY KEY (id)
)



CREATE TABLE games (
	id INTEGER NOT NULL,
	name VARCHAR(50) NOT NULL,
	generation_number INTEGER NOT NULL,
	generation_name VARCHAR(50),
	version_group VARCHAR(50) NOT NULL,
	region_name VARCHAR(50) NOT NULL,
	PRIMARY KEY (id)
)


2025-05-13 23:46:17,851 INFO sqlalchemy.engine.Engine [no key 0.00030s] ()
[no key 0.00030s] ()
2025-05-13 23:46:17,856 INFO sqlalchemy.engine.Engine
CREATE TABLE moves (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	damage INTEGER,
	precision INTEGER,
	damage_class VARCHAR(50),
	effect VARCHAR(1000),
	effect_fr VARCHAR(1000),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)



CREATE TABLE moves (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	damage INTEGER,
	precision INTEGER,
	damage_class VARCHAR(50),
	effect VARCHAR(1000),
	effect_fr VARCHAR(1000),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)


2025-05-13 23:46:17,857 INFO sqlalchemy.engine.Engine [no key 0.00025s] ()
[no key 0.00025s] ()
2025-05-13 23:46:17,867 INFO sqlalchemy.engine.Engine
CREATE TABLE types (
	id INTEGER NOT NULL,
	name VARCHAR(20) NOT NULL,
	name_fr VARCHAR(20),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)



CREATE TABLE types (
	id INTEGER NOT NULL,
	name VARCHAR(20) NOT NULL,
	name_fr VARCHAR(20),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)


2025-05-13 23:46:17,867 INFO sqlalchemy.engine.Engine [no key 0.00031s] ()
[no key 0.00031s] ()
2025-05-13 23:46:17,872 INFO sqlalchemy.engine.Engine
CREATE TABLE machines (
	id INTEGER NOT NULL,
	machine_number VARCHAR(10) NOT NULL,
	move_id INTEGER NOT NULL,
	move_name VARCHAR(100),
	version_group VARCHAR(50) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(move_id) REFERENCES moves (id),
	FOREIGN KEY(version_group) REFERENCES games (version_group)
)



CREATE TABLE machines (
	id INTEGER NOT NULL,
	machine_number VARCHAR(10) NOT NULL,
	move_id INTEGER NOT NULL,
	move_name VARCHAR(100),
	version_group VARCHAR(50) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(move_id) REFERENCES moves (id),
	FOREIGN KEY(version_group) REFERENCES games (version_group)
)


2025-05-13 23:46:17,873 INFO sqlalchemy.engine.Engine [no key 0.00022s] ()
[no key 0.00022s] ()
2025-05-13 23:46:17,875 INFO sqlalchemy.engine.Engine CREATE INDEX ix_machines_version_group ON machines (version_group)
CREATE INDEX ix_machines_version_group ON machines (version_group)
2025-05-13 23:46:17,875 INFO sqlalchemy.engine.Engine [no key 0.00027s] ()
[no key 0.00027s] ()
2025-05-13 23:46:17,879 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemons (
	id INTEGER NOT NULL,
	national_pokedex_number INTEGER NOT NULL,
	name_en VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	type_1_id INTEGER NOT NULL,
	type_2_id INTEGER,
	sprite_url VARCHAR(255),
	cry_url VARCHAR(255),
	PRIMARY KEY (id),
	UNIQUE (name_en),
	UNIQUE (name_fr),
	FOREIGN KEY(type_1_id) REFERENCES types (id),
	FOREIGN KEY(type_2_id) REFERENCES types (id)
)



CREATE TABLE pokemons (
	id INTEGER NOT NULL,
	national_pokedex_number INTEGER NOT NULL,
	name_en VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	type_1_id INTEGER NOT NULL,
	type_2_id INTEGER,
	sprite_url VARCHAR(255),
	cry_url VARCHAR(255),
	PRIMARY KEY (id),
	UNIQUE (name_en),
	UNIQUE (name_fr),
	FOREIGN KEY(type_1_id) REFERENCES types (id),
	FOREIGN KEY(type_2_id) REFERENCES types (id)
)


2025-05-13 23:46:17,879 INFO sqlalchemy.engine.Engine [no key 0.00028s] ()
[no key 0.00028s] ()
2025-05-13 23:46:17,882 INFO sqlalchemy.engine.Engine
CREATE TABLE types_effectiveness (
	id INTEGER NOT NULL,
	attacking_type_id INTEGER NOT NULL,
	defending_type_id INTEGER NOT NULL,
	effectiveness FLOAT NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(attacking_type_id) REFERENCES types (id),
	FOREIGN KEY(defending_type_id) REFERENCES types (id)
)



CREATE TABLE types_effectiveness (
	id INTEGER NOT NULL,
	attacking_type_id INTEGER NOT NULL,
	defending_type_id INTEGER NOT NULL,
	effectiveness FLOAT NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(attacking_type_id) REFERENCES types (id),
	FOREIGN KEY(defending_type_id) REFERENCES types (id)
)


2025-05-13 23:46:17,882 INFO sqlalchemy.engine.Engine [no key 0.00021s] ()
[no key 0.00021s] ()
2025-05-13 23:46:17,885 INFO sqlalchemy.engine.Engine
CREATE TABLE evolutions (
	id INTEGER NOT NULL,
	evolution_chain_id INTEGER NOT NULL,
	pokemon_from_id INTEGER NOT NULL,
	pokemon_to_id INTEGER NOT NULL,
	"trigger" VARCHAR(50),
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_from_id) REFERENCES pokemons (id),
	FOREIGN KEY(pokemon_to_id) REFERENCES pokemons (id)
)



CREATE TABLE evolutions (
	id INTEGER NOT NULL,
	evolution_chain_id INTEGER NOT NULL,
	pokemon_from_id INTEGER NOT NULL,
	pokemon_to_id INTEGER NOT NULL,
	"trigger" VARCHAR(50),
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_from_id) REFERENCES pokemons (id),
	FOREIGN KEY(pokemon_to_id) REFERENCES pokemons (id)
)


2025-05-13 23:46:17,885 INFO sqlalchemy.engine.Engine [no key 0.00053s] ()
[no key 0.00053s] ()
2025-05-13 23:46:17,890 INFO sqlalchemy.engine.Engine
CREATE TABLE pokedex_numbers (
	pokemon_id INTEGER NOT NULL,
	national INTEGER,
	kanto INTEGER,
	original_johto INTEGER,
	updated_johto INTEGER,
	hoenn INTEGER,
	original_sinnoh INTEGER,
	extended_sinnoh INTEGER,
	unova_bw INTEGER,
	unova_b2w2 INTEGER,
	kalos_central INTEGER,
	kalos_coastal INTEGER,
	kalos_mountain INTEGER,
	alola INTEGER,
	melemele INTEGER,
	akala INTEGER,
	ulaula INTEGER,
	poni INTEGER,
	galar INTEGER,
	isle_of_armor INTEGER,
	crown_tundra INTEGER,
	hisui INTEGER,
	paldea INTEGER,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)



CREATE TABLE pokedex_numbers (
	pokemon_id INTEGER NOT NULL,
	national INTEGER,
	kanto INTEGER,
	original_johto INTEGER,
	updated_johto INTEGER,
	hoenn INTEGER,
	original_sinnoh INTEGER,
	extended_sinnoh INTEGER,
	unova_bw INTEGER,
	unova_b2w2 INTEGER,
	kalos_central INTEGER,
	kalos_coastal INTEGER,
	kalos_mountain INTEGER,
	alola INTEGER,
	melemele INTEGER,
	akala INTEGER,
	ulaula INTEGER,
	poni INTEGER,
	galar INTEGER,
	isle_of_armor INTEGER,
	crown_tundra INTEGER,
	hisui INTEGER,
	paldea INTEGER,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)


2025-05-13 23:46:17,891 INFO sqlalchemy.engine.Engine [no key 0.00144s] ()
[no key 0.00144s] ()
2025-05-13 23:46:17,904 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemons_abilities (
	pokemon_id INTEGER NOT NULL,
	ability_id INTEGER NOT NULL,
	ability_name VARCHAR(30) NOT NULL,
	is_hidden BOOLEAN NOT NULL,
	slot INTEGER NOT NULL,
	PRIMARY KEY (pokemon_id, slot),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id),
	FOREIGN KEY(ability_id) REFERENCES abilities (id),
	FOREIGN KEY(ability_name) REFERENCES abilities (name)
)



CREATE TABLE pokemons_abilities (
	pokemon_id INTEGER NOT NULL,
	ability_id INTEGER NOT NULL,
	ability_name VARCHAR(30) NOT NULL,
	is_hidden BOOLEAN NOT NULL,
	slot INTEGER NOT NULL,
	PRIMARY KEY (pokemon_id, slot),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id),
	FOREIGN KEY(ability_id) REFERENCES abilities (id),
	FOREIGN KEY(ability_name) REFERENCES abilities (name)
)


2025-05-13 23:46:17,904 INFO sqlalchemy.engine.Engine [no key 0.00363s] ()
[no key 0.00363s] ()
2025-05-13 23:46:18,116 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemon_details (
	pokemon_id INTEGER NOT NULL,
	species_id INTEGER NOT NULL,
	height_m INTEGER NOT NULL,
	weight_kg INTEGER NOT NULL,
	base_experience INTEGER,
	"order" INTEGER,
	is_default BOOLEAN NOT NULL,
	is_legendary BOOLEAN NOT NULL,
	is_mythical BOOLEAN NOT NULL,
	is_baby BOOLEAN NOT NULL,
	gender_rate INTEGER,
	capture_rate INTEGER,
	base_happiness INTEGER,
	hatch_counter INTEGER,
	has_gender_differences BOOLEAN,
	forms_switchable BOOLEAN,
	egg_group_1 VARCHAR(20),
	egg_group_2 VARCHAR(20),
	color VARCHAR(20),
	shape VARCHAR(20),
	evolves_from_species_id INTEGER,
	evolution_chain_id INTEGER,
	habitat VARCHAR(20),
	generation VARCHAR(20),
	growth_rate VARCHAR(20),
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)



CREATE TABLE pokemon_details (
	pokemon_id INTEGER NOT NULL,
	species_id INTEGER NOT NULL,
	height_m INTEGER NOT NULL,
	weight_kg INTEGER NOT NULL,
	base_experience INTEGER,
	"order" INTEGER,
	is_default BOOLEAN NOT NULL,
	is_legendary BOOLEAN NOT NULL,
	is_mythical BOOLEAN NOT NULL,
	is_baby BOOLEAN NOT NULL,
	gender_rate INTEGER,
	capture_rate INTEGER,
	base_happiness INTEGER,
	hatch_counter INTEGER,
	has_gender_differences BOOLEAN,
	forms_switchable BOOLEAN,
	egg_group_1 VARCHAR(20),
	egg_group_2 VARCHAR(20),
	color VARCHAR(20),
	shape VARCHAR(20),
	evolves_from_species_id INTEGER,
	evolution_chain_id INTEGER,
	habitat VARCHAR(20),
	generation VARCHAR(20),
	growth_rate VARCHAR(20),
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)


2025-05-13 23:46:18,116 INFO sqlalchemy.engine.Engine [no key 0.00047s] ()
[no key 0.00047s] ()
2025-05-13 23:46:18,134 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemons_learnsets (
	id INTEGER NOT NULL,
	pokemon_id INTEGER NOT NULL,
	move_id INTEGER NOT NULL,
	move_name VARCHAR(100) NOT NULL,
	method VARCHAR(100) NOT NULL,
	level INTEGER,
	version_group VARCHAR(100) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id),
	FOREIGN KEY(move_id) REFERENCES moves (id),
	FOREIGN KEY(version_group) REFERENCES games (version_group)
)



CREATE TABLE pokemons_learnsets (
	id INTEGER NOT NULL,
	pokemon_id INTEGER NOT NULL,
	move_id INTEGER NOT NULL,
	move_name VARCHAR(100) NOT NULL,
	method VARCHAR(100) NOT NULL,
	level INTEGER,
	version_group VARCHAR(100) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id),
	FOREIGN KEY(move_id) REFERENCES moves (id),
	FOREIGN KEY(version_group) REFERENCES games (version_group)
)


2025-05-13 23:46:18,134 INFO sqlalchemy.engine.Engine [no key 0.00032s] ()
[no key 0.00032s] ()
2025-05-13 23:46:18,145 INFO sqlalchemy.engine.Engine CREATE INDEX ix_pokemons_learnsets_version_group ON pokemons_learnsets (version_group)
CREATE INDEX ix_pokemons_learnsets_version_group ON pokemons_learnsets (version_group)
2025-05-13 23:46:18,145 INFO sqlalchemy.engine.Engine [no key 0.00061s] ()
[no key 0.00061s] ()
2025-05-13 23:46:18,150 INFO sqlalchemy.engine.Engine CREATE INDEX ix_pokemons_learnsets_pokemon_id ON pokemons_learnsets (pokemon_id)
CREATE INDEX ix_pokemons_learnsets_pokemon_id ON pokemons_learnsets (pokemon_id)
2025-05-13 23:46:18,150 INFO sqlalchemy.engine.Engine [no key 0.00036s] ()
[no key 0.00036s] ()
2025-05-13 23:46:18,161 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemon_sprites (
	pokemon_id INTEGER NOT NULL,
	front_default VARCHAR,
	back_default VARCHAR,
	front_shiny VARCHAR,
	back_shiny VARCHAR,
	official_artwork VARCHAR,
	official_artwork_shiny VARCHAR,
	dream_world VARCHAR,
	home_default VARCHAR,
	home_shiny VARCHAR,
	pokemon_go VARCHAR,
	pokemon_go_shiny VARCHAR,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)



CREATE TABLE pokemon_sprites (
	pokemon_id INTEGER NOT NULL,
	front_default VARCHAR,
	back_default VARCHAR,
	front_shiny VARCHAR,
	back_shiny VARCHAR,
	official_artwork VARCHAR,
	official_artwork_shiny VARCHAR,
	dream_world VARCHAR,
	home_default VARCHAR,
	home_shiny VARCHAR,
	pokemon_go VARCHAR,
	pokemon_go_shiny VARCHAR,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)


2025-05-13 23:46:18,161 INFO sqlalchemy.engine.Engine [no key 0.00092s] ()
[no key 0.00092s] ()
2025-05-13 23:46:18,172 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemon_stats (
	pokemon_id INTEGER NOT NULL,
	hp INTEGER NOT NULL,
	attack INTEGER NOT NULL,
	defense INTEGER NOT NULL,
	special_attack INTEGER NOT NULL,
	special_defense INTEGER NOT NULL,
	speed INTEGER NOT NULL,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)



CREATE TABLE pokemon_stats (
	pokemon_id INTEGER NOT NULL,
	hp INTEGER NOT NULL,
	attack INTEGER NOT NULL,
	defense INTEGER NOT NULL,
	special_attack INTEGER NOT NULL,
	special_defense INTEGER NOT NULL,
	speed INTEGER NOT NULL,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)


2025-05-13 23:46:18,172 INFO sqlalchemy.engine.Engine [no key 0.00026s] ()
[no key 0.00026s] ()
2025-05-13 23:46:18,179 INFO sqlalchemy.engine.Engine COMMIT
COMMIT
‚úÖ Base de donn√©es construite

<span style="color: red">‚ö†Ô∏è Danger zone ‚ö†Ô∏è</span>

`DROP TABLES`

In [2]:
from sqlmodel import SQLModel, create_engine
from pathlib import Path

DB_PATH = Path('app/db/PKMN.db')
if DB_PATH.exists() and input("Vider les tables? (y/N): ").lower() == 'y':
    engine = create_engine(f"sqlite:///{DB_PATH}", connect_args={"check_same_thread": False})
    SQLModel.metadata.drop_all(engine)
    engine.dispose()

`DELETE DATABASE`

In [1]:
import os
from pathlib import Path
if Path('app/db/PKMN.db').exists():
    confirm = input(f"‚ö†Ô∏è √ätes-vous s√ªr de vouloir supprimer la base de donn√©es? (y/N): ")
    if confirm.lower() == 'y':
        os.remove(Path('app/db/PKMN.db'))