`Build empty database`

In [6]:
!uv run app/db/local_build.py 2>/dev/null

2025-05-11 00:52:53,564 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-11 00:52:53,565 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("abilities")
2025-05-11 00:52:53,565 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,566 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("abilities")
2025-05-11 00:52:53,566 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,566 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("evolutions")
2025-05-11 00:52:53,567 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,567 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("evolutions")
2025-05-11 00:52:53,567 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,567 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("games")
2025-05-11 00:52:53,567 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,568 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("games")
2025-05-11 00:52:53,568 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,568 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("machines")
2025-05-11 00:52:53,568 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,568 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("machines")
2025-05-11 00:52:53,568 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,569 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("moves")
2025-05-11 00:52:53,569 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,569 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("moves")
2025-05-11 00:52:53,569 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,570 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokedex_numbers")
2025-05-11 00:52:53,570 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,570 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokedex_numbers")
2025-05-11 00:52:53,570 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,571 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemons")
2025-05-11 00:52:53,571 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,571 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemons")
2025-05-11 00:52:53,572 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,572 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemons_abilities")
2025-05-11 00:52:53,572 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,573 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemons_abilities")
2025-05-11 00:52:53,573 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,574 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemon_details")
2025-05-11 00:52:53,574 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,574 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemon_details")
2025-05-11 00:52:53,574 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,574 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemons_learnsets")
2025-05-11 00:52:53,574 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,575 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemons_learnsets")
2025-05-11 00:52:53,575 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,575 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemon_sprites")
2025-05-11 00:52:53,575 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,576 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemon_sprites")
2025-05-11 00:52:53,576 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,576 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pokemon_stats")
2025-05-11 00:52:53,576 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,576 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("pokemon_stats")
2025-05-11 00:52:53,577 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,577 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("types")
2025-05-11 00:52:53,577 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,578 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("types")
2025-05-11 00:52:53,578 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,579 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("types_effectiveness")
2025-05-11 00:52:53,579 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,579 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("types_effectiveness")
2025-05-11 00:52:53,579 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 00:52:53,581 INFO sqlalchemy.engine.Engine
CREATE TABLE abilities (
	id INTEGER NOT NULL,
	name_en VARCHAR NOT NULL,
	name_fr VARCHAR,
	effect VARCHAR(1000),
	effect_fr VARCHAR(1000),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name_en),
	UNIQUE (name_fr)
)


2025-05-11 00:52:53,581 INFO sqlalchemy.engine.Engine [no key 0.00016s] ()
2025-05-11 00:52:53,586 INFO sqlalchemy.engine.Engine
CREATE TABLE games (
	id INTEGER NOT NULL,
	name VARCHAR(50) NOT NULL,
	generation_number INTEGER NOT NULL,
	generation_name VARCHAR(50) NOT NULL,
	version_group VARCHAR(50) NOT NULL,
	region_name VARCHAR(50) NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (version_group)
)


2025-05-11 00:52:53,587 INFO sqlalchemy.engine.Engine [no key 0.00023s] ()
2025-05-11 00:52:53,590 INFO sqlalchemy.engine.Engine
CREATE TABLE moves (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	damage INTEGER,
	precision INTEGER,
	effect VARCHAR(1000),
	effect_fr VARCHAR(1000),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)


2025-05-11 00:52:53,590 INFO sqlalchemy.engine.Engine [no key 0.00024s] ()
2025-05-11 00:52:53,593 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemons (
	id INTEGER NOT NULL,
	national_pokedex_number INTEGER NOT NULL,
	name_en VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	type_1_id INTEGER NOT NULL,
	type_2_id INTEGER,
	sprite_url VARCHAR(255),
	cry_url VARCHAR(255),
	PRIMARY KEY (id),
	UNIQUE (name_en),
	UNIQUE (name_fr)
)


2025-05-11 00:52:53,593 INFO sqlalchemy.engine.Engine [no key 0.00021s] ()
2025-05-11 00:52:53,598 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemon_details (
	id INTEGER NOT NULL,
	species_id INTEGER NOT NULL,
	name_en VARCHAR(100) NOT NULL,
	name_fr VARCHAR(100),
	type_1_id INTEGER NOT NULL,
	type_1 VARCHAR(20) NOT NULL,
	type_2_id INTEGER,
	type_2 VARCHAR(20),
	height_m INTEGER NOT NULL,
	weight_kg INTEGER NOT NULL,
	base_experience INTEGER,
	"order" INTEGER,
	is_default BOOLEAN NOT NULL,
	is_legendary BOOLEAN NOT NULL,
	is_mythical BOOLEAN NOT NULL,
	is_baby BOOLEAN NOT NULL,
	gender_rate INTEGER,
	capture_rate INTEGER,
	base_happiness INTEGER,
	hatch_counter INTEGER,
	has_gender_differences BOOLEAN,
	forms_switchable BOOLEAN,
	egg_group_1 VARCHAR(20),
	egg_group_2 VARCHAR(20),
	color VARCHAR(20),
	shape VARCHAR(20),
	evolves_from_species_id INTEGER,
	evolution_chain_id INTEGER,
	habitat VARCHAR(20),
	generation VARCHAR(20),
	growth_rate VARCHAR(20),
	PRIMARY KEY (id),
	UNIQUE (name_en),
	UNIQUE (name_fr)
)


2025-05-11 00:52:53,598 INFO sqlalchemy.engine.Engine [no key 0.00033s] ()
2025-05-11 00:52:53,605 INFO sqlalchemy.engine.Engine
CREATE TABLE types (
	id INTEGER NOT NULL,
	name VARCHAR(20) NOT NULL,
	name_fr VARCHAR(20),
	generation INTEGER,
	PRIMARY KEY (id),
	UNIQUE (name),
	UNIQUE (name_fr)
)


2025-05-11 00:52:53,605 INFO sqlalchemy.engine.Engine [no key 0.00029s] ()
2025-05-11 00:52:53,608 INFO sqlalchemy.engine.Engine
CREATE TABLE evolutions (
	id INTEGER NOT NULL,
	evolution_chain_id INTEGER NOT NULL,
	pokemon_from_id INTEGER NOT NULL,
	pokemon_to_id INTEGER NOT NULL,
	"trigger" VARCHAR(50),
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_from_id) REFERENCES pokemons (id),
	FOREIGN KEY(pokemon_to_id) REFERENCES pokemons (id)
)


2025-05-11 00:52:53,609 INFO sqlalchemy.engine.Engine [no key 0.00019s] ()
2025-05-11 00:52:53,614 INFO sqlalchemy.engine.Engine
CREATE TABLE machines (
	id INTEGER NOT NULL,
	machine_number VARCHAR(10) NOT NULL,
	move_id INTEGER NOT NULL,
	move_name VARCHAR(100),
	version_group VARCHAR(50) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(move_id) REFERENCES moves (id)
)


2025-05-11 00:52:53,614 INFO sqlalchemy.engine.Engine [no key 0.00022s] ()
2025-05-11 00:52:53,616 INFO sqlalchemy.engine.Engine CREATE INDEX ix_machines_version_group ON machines (version_group)
2025-05-11 00:52:53,617 INFO sqlalchemy.engine.Engine [no key 0.00018s] ()
2025-05-11 00:52:53,620 INFO sqlalchemy.engine.Engine
CREATE TABLE pokedex_numbers (
	pokemon_id INTEGER NOT NULL,
	national INTEGER,
	kanto INTEGER,
	original_johto INTEGER,
	updated_johto INTEGER,
	hoenn INTEGER,
	original_sinnoh INTEGER,
	extended_sinnoh INTEGER,
	unova_bw INTEGER,
	unova_b2w2 INTEGER,
	kalos_central INTEGER,
	kalos_coastal INTEGER,
	kalos_mountain INTEGER,
	alola INTEGER,
	melemele INTEGER,
	akala INTEGER,
	ulaula INTEGER,
	poni INTEGER,
	galar INTEGER,
	isle_of_armor INTEGER,
	crown_tundra INTEGER,
	hisui INTEGER,
	paldea INTEGER,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)


2025-05-11 00:52:53,620 INFO sqlalchemy.engine.Engine [no key 0.00027s] ()
2025-05-11 00:52:53,623 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemons_abilities (
	pokemon_id INTEGER NOT NULL,
	ability_id INTEGER NOT NULL,
	ability_name VARCHAR(30) NOT NULL,
	is_hidden BOOLEAN NOT NULL,
	slot INTEGER NOT NULL,
	PRIMARY KEY (pokemon_id, slot),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id),
	FOREIGN KEY(ability_id) REFERENCES abilities (id)
)


2025-05-11 00:52:53,623 INFO sqlalchemy.engine.Engine [no key 0.00021s] ()
2025-05-11 00:52:53,627 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemons_learnsets (
	id INTEGER NOT NULL,
	pokemon_id INTEGER NOT NULL,
	move_id INTEGER NOT NULL,
	move_name VARCHAR(100) NOT NULL,
	method VARCHAR(100) NOT NULL,
	level INTEGER,
	version_group VARCHAR(100) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id),
	FOREIGN KEY(move_id) REFERENCES moves (id)
)


2025-05-11 00:52:53,629 INFO sqlalchemy.engine.Engine [no key 0.00093s] ()
2025-05-11 00:52:53,665 INFO sqlalchemy.engine.Engine CREATE INDEX ix_pokemons_learnsets_pokemon_id ON pokemons_learnsets (pokemon_id)
2025-05-11 00:52:53,665 INFO sqlalchemy.engine.Engine [no key 0.00021s] ()
2025-05-11 00:52:53,699 INFO sqlalchemy.engine.Engine CREATE INDEX ix_pokemons_learnsets_version_group ON pokemons_learnsets (version_group)
2025-05-11 00:52:53,699 INFO sqlalchemy.engine.Engine [no key 0.00048s] ()
2025-05-11 00:52:53,714 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemon_sprites (
	pokemon_id INTEGER NOT NULL,
	pokemon_name VARCHAR(100) NOT NULL,
	front_default VARCHAR,
	back_default VARCHAR,
	front_shiny VARCHAR,
	back_shiny VARCHAR,
	official_artwork VARCHAR,
	official_artwork_shiny VARCHAR,
	dream_world VARCHAR,
	home_default VARCHAR,
	home_shiny VARCHAR,
	pokemon_go VARCHAR,
	pokemon_go_shiny VARCHAR,
	PRIMARY KEY (pokemon_id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)


2025-05-11 00:52:53,715 INFO sqlalchemy.engine.Engine [no key 0.00023s] ()
2025-05-11 00:52:53,718 INFO sqlalchemy.engine.Engine
CREATE TABLE pokemon_stats (
	id INTEGER NOT NULL,
	pokemon_name VARCHAR(100) NOT NULL,
	pokemon_id INTEGER NOT NULL,
	hp INTEGER NOT NULL,
	attack INTEGER NOT NULL,
	defense INTEGER NOT NULL,
	special_attack INTEGER NOT NULL,
	special_defense INTEGER NOT NULL,
	speed INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(pokemon_id) REFERENCES pokemons (id)
)


2025-05-11 00:52:53,718 INFO sqlalchemy.engine.Engine [no key 0.00022s] ()
2025-05-11 00:52:53,721 INFO sqlalchemy.engine.Engine CREATE INDEX ix_pokemon_stats_pokemon_id ON pokemon_stats (pokemon_id)
2025-05-11 00:52:53,721 INFO sqlalchemy.engine.Engine [no key 0.00026s] ()
2025-05-11 00:52:53,725 INFO sqlalchemy.engine.Engine
CREATE TABLE types_effectiveness (
	id INTEGER NOT NULL,
	attacking_type_id INTEGER NOT NULL,
	defending_type_id INTEGER NOT NULL,
	effectiveness FLOAT NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(attacking_type_id) REFERENCES types (id),
	FOREIGN KEY(defending_type_id) REFERENCES types (id)
)


2025-05-11 00:52:53,726 INFO sqlalchemy.engine.Engine [no key 0.00022s] ()
2025-05-11 00:52:53,753 INFO sqlalchemy.engine.Engine COMMIT

<span style="color: red">⚠️ Danger zone ⚠️</span>

`DROP TABLES`

In [2]:
from sqlmodel import SQLModel, create_engine
from pathlib import Path

DB_PATH = Path('app/db/PKMN.db')
if DB_PATH.exists() and input("Vider les tables? (y/N): ").lower() == 'y':
    engine = create_engine(f"sqlite:///{DB_PATH}", connect_args={"check_same_thread": False})
    SQLModel.metadata.drop_all(engine)
    engine.dispose()

`DELETE DATABASE`

In [5]:
import os
from pathlib import Path
if Path('app/db/PKMN.db').exists():
    confirm = input(f"⚠️ Êtes-vous sûr de vouloir supprimer la base de données? (y/N): ")
    if confirm.lower() == 'y':
        os.remove(Path('app/db/PKMN.db'))